In [1]:
import pandas as pd
import numpy as np
import csv
# Reading Files
emp= pd.read_csv("train.csv")
emp2= pd.read_csv("test.csv")

In [2]:
# removing unwanted features
emp = emp.drop(["ID","FormalWarnings","EmployeeCount","Behaviour","StandardHours","Over18"], axis=1)
emp2 = emp2.drop(["ID","FormalWarnings","EmployeeCount","Behaviour","StandardHours","Over18"], axis=1)

In [3]:
# Converting categorical variable into dummy/indicator variables
emp1 = pd.get_dummies(emp, drop_first=True)
emp2 = pd.get_dummies(emp2, drop_first=True)

In [4]:
emp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 52 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1229 non-null   float64
 1   DailyRate                          1229 non-null   float64
 2   DistanceFromHome                   1230 non-null   int64
 3   HourlyRate                         1228 non-null   float64
 4   JobInvolvement                     1229 non-null   float64
 5   JobLevel                           1230 non-null   int64
 6   JobSatisfaction                    1229 non-null   float64
 7   MonthlyIncome                      1230 non-null   int64
 8   MonthlyRate                        1229 non-null   float64
 9   NumCompaniesWorked                 1229 non-null   float64
 10  PercentSalaryHike                  1229 non-null   float64
 11  PerformanceRating                  1230 non-null   int64
 12  CommunicationSkill                 1230 non-null   int64
 13  Experience                         1230 non-null   int64
 14  LvlGrownInOrg                      1229 non-null   float64
 15  ContributionIndex                  1230 non-null   int64
 16  TechnicalExpertise                 1230 non-null   int64
 17  RelationshipSatisfaction           1229 non-null   float64
 18  StockOptionLevel                   1230 non-null   int64
 19  TotalWorkingYears                  1229 non-null   float64
 20  TrainingTimesLastYear              1230 non-null   int64
 21  Education                          1229 non-null   float64
 22  EmployeeNumber                     1230 non-null   int64
 23  EnvironmentSatisfaction            1229 non-null   float64
 24  WorkLifeBalance                    1229 non-null   float64
 25  YearsInCurrentRole                 1230 non-null   int64
 26  YearsSinceLastPromotion            1229 non-null   float64
 27  YearsWithCurrManager               1230 non-null   int64
 28  ProjectsContributed                1229 non-null   float64
 29  Attrition                          1230 non-null   int64
 30  YearsAtCompany                     1230 non-null   int64
 31  BusinessTravel_Travel_Frequently   1230 non-null   uint8
 32  BusinessTravel_Travel_Rarely       1230 non-null   uint8
 33  Department_Research & Development  1230 non-null   uint8
 34  Department_Sales                   1230 non-null   uint8
 35  Gender_Male                        1230 non-null   uint8
 36  JobRole_Human Resources            1230 non-null   uint8
 37  JobRole_Laboratory Technician      1230 non-null   uint8
 38  JobRole_Manager                    1230 non-null   uint8
 39  JobRole_Manufacturing Director     1230 non-null   uint8
 40  JobRole_Research Director          1230 non-null   uint8
 41  JobRole_Research Scientist         1230 non-null   uint8
 42  JobRole_Sales Executive            1230 non-null   uint8
 43  JobRole_Sales Representative       1230 non-null   uint8
 44  MaritalStatus_Married              1230 non-null   uint8
 45  MaritalStatus_Single               1230 non-null   uint8
 46  OverTime_Yes                       1230 non-null   uint8
 47  EducationField_Life Sciences       1230 non-null   uint8
 48  EducationField_Marketing           1230 non-null   uint8
 49  EducationField_Medical             1230 non-null   uint8
 50  EducationField_Other               1230 non-null   uint8
 51  EducationField_Technical Degree    1230 non-null   uint8
dtypes: float64(16), int64(15), uint8(21)
memory usage: 323.2 KB

In [5]:
# Corelating Other Features with Attrition
corr_matrix = emp1.corr()
corr_matrix['Attrition'].sort_values(ascending=False)

Attrition                            1.000000
OverTime_Yes                         0.234594
MaritalStatus_Single                 0.165029
JobRole_Sales Representative         0.148548
BusinessTravel_Travel_Frequently     0.146434
JobRole_Laboratory Technician        0.097545
Department_Sales                     0.082222
DistanceFromHome                     0.075607
EducationField_Technical Degree      0.059178
EducationField_Marketing             0.056283
NumCompaniesWorked                   0.042284
LvlGrownInOrg                        0.040906
JobRole_Human Resources              0.040152
Gender_Male                          0.024812
JobRole_Sales Executive              0.022839
JobRole_Research Scientist           0.006765
Experience                          -0.001739
MonthlyRate                         -0.002527
EmployeeNumber                      -0.009269
PerformanceRating                   -0.009508
EducationField_Other                -0.014464
HourlyRate                          -0.014965
CommunicationSkill                  -0.014986
YearsSinceLastPromotion             -0.027679
Education                           -0.028173
PercentSalaryHike                   -0.029048
ProjectsContributed                 -0.034243
EducationField_Life Sciences        -0.036940
EducationField_Medical              -0.039197
RelationshipSatisfaction            -0.044373
ContributionIndex                   -0.050966
DailyRate                           -0.051192
WorkLifeBalance                     -0.059899
TrainingTimesLastYear               -0.066388
JobRole_Manager                     -0.074291
JobRole_Manufacturing Director      -0.084702
BusinessTravel_Travel_Rarely        -0.086190
Department_Research & Development   -0.088832
JobRole_Research Director           -0.095942
JobInvolvement                      -0.097837
MaritalStatus_Married               -0.101201
EnvironmentSatisfaction             -0.109558
JobSatisfaction                     -0.120537
StockOptionLevel                    -0.121832
TechnicalExpertise                  -0.135905
YearsAtCompany                      -0.139203
YearsWithCurrManager                -0.155808
YearsInCurrentRole                  -0.158911
Age                                 -0.160550
MonthlyIncome                       -0.162073
JobLevel                            -0.170628
TotalWorkingYears                   -0.177852
Name: Attrition, dtype: float64

In [6]:
# creating pipeline
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

my_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")),
])

In [7]:
emp1.shape

(1230, 52)

In [8]:
emp1

,Age,DailyRate,DistanceFromHome,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,...,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree
0,44.0,1376.0,1,91.0,2.0,3,1.0,10482,2326.0,9.0,...,0,0,1,0,0,0,0,1,0,0
1,25.0,675.0,5,85.0,4.0,2,1.0,4000,18384.0,1.0,...,0,0,0,0,0,1,0,0,0,0
2,57.0,210.0,29,56.0,2.0,4,4.0,14118,22102.0,3.0,...,0,0,0,0,0,0,1,0,0,0
3,47.0,1180.0,25,84.0,3.0,3,3.0,8633,13084.0,2.0,...,0,0,0,1,0,0,0,1,0,0
4,22.0,391.0,7,75.0,3.0,1,2.0,2472,26092.0,1.0,...,0,0,0,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225,29.0,806.0,7,39.0,3.0,1,3.0,3339,17285.0,3.0,...,0,0,0,0,1,0,0,0,0,1
1226,41.0,582.0,28,60.0,2.0,4,2.0,13570,5640.0,0.0,...,0,0,1,0,0,1,0,0,0,0
1227,36.0,1456.0,13,96.0,2.0,2,1.0,6134,8658.0,5.0,...,1,0,0,0,1,0,1,0,0,0
1228,23.0,885.0,4,58.0,4.0,1,1.0,2819,8544.0,2.0,...,0,0,1,0,0,0,0,1,0,0
1229,31.0,754.0,26,63.0,3.0,2,4.0,5617,21075.0,1.0,...,1,0,1,0,1,0,1,0,0,0

In [9]:
# Splitting Features and Labels
emp_train_labels_C1 = emp1[["Attrition"]].copy()
emp_train_labels_R1 = emp1[["YearsAtCompany"]].copy()
emp_train_features = emp1.drop(["YearsAtCompany","Attrition"], axis=1)

In [10]:
emp_train_labels_C1.shape

(1230, 1)

In [11]:
emp_train_labels_C = my_pipeline.fit_transform(emp_train_labels_C1)
emp_train_labels_R = my_pipeline.fit_transform(emp_train_labels_R1)
emp_features = my_pipeline.fit_transform(emp_train_features)
emp_test = my_pipeline.fit_transform(emp2)

In [12]:
emp_train_labels_C.shape

(1230, 1)

In [13]:
# Selecting Model

# from sklearn.linear_model import LinearRegression
# from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.ensemble import ExtraTreesRegressor
# model = KNeighborsRegressor()
# model = ExtraTreesRegressor(n_estimators=10,max_features=32,random_state=0)
# model = LinearRegression()
# model = DecisionTreeRegressor()
model1 = RandomForestRegressor(max_depth=30,random_state=0)
model1.fit(emp_features, emp_train_labels_R)

<ipython-input-13-a76708fd9090>:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model1.fit(emp_features, emp_train_labels_R)

RandomForestRegressor(max_depth=30, random_state=0)

In [14]:
emp_train_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1229 non-null   float64
 1   DailyRate                          1229 non-null   float64
 2   DistanceFromHome                   1230 non-null   int64
 3   HourlyRate                         1228 non-null   float64
 4   JobInvolvement                     1229 non-null   float64
 5   JobLevel                           1230 non-null   int64
 6   JobSatisfaction                    1229 non-null   float64
 7   MonthlyIncome                      1230 non-null   int64
 8   MonthlyRate                        1229 non-null   float64
 9   NumCompaniesWorked                 1229 non-null   float64
 10  PercentSalaryHike                  1229 non-null   float64
 11  PerformanceRating                  1230 non-null   int64
 12  CommunicationSkill                 1230 non-null   int64
 13  Experience                         1230 non-null   int64
 14  LvlGrownInOrg                      1229 non-null   float64
 15  ContributionIndex                  1230 non-null   int64
 16  TechnicalExpertise                 1230 non-null   int64
 17  RelationshipSatisfaction           1229 non-null   float64
 18  StockOptionLevel                   1230 non-null   int64
 19  TotalWorkingYears                  1229 non-null   float64
 20  TrainingTimesLastYear              1230 non-null   int64
 21  Education                          1229 non-null   float64
 22  EmployeeNumber                     1230 non-null   int64
 23  EnvironmentSatisfaction            1229 non-null   float64
 24  WorkLifeBalance                    1229 non-null   float64
 25  YearsInCurrentRole                 1230 non-null   int64
 26  YearsSinceLastPromotion            1229 non-null   float64
 27  YearsWithCurrManager               1230 non-null   int64
 28  ProjectsContributed                1229 non-null   float64
 29  BusinessTravel_Travel_Frequently   1230 non-null   uint8
 30  BusinessTravel_Travel_Rarely       1230 non-null   uint8
 31  Department_Research & Development  1230 non-null   uint8
 32  Department_Sales                   1230 non-null   uint8
 33  Gender_Male                        1230 non-null   uint8
 34  JobRole_Human Resources            1230 non-null   uint8
 35  JobRole_Laboratory Technician      1230 non-null   uint8
 36  JobRole_Manager                    1230 non-null   uint8
 37  JobRole_Manufacturing Director     1230 non-null   uint8
 38  JobRole_Research Director          1230 non-null   uint8
 39  JobRole_Research Scientist         1230 non-null   uint8
 40  JobRole_Sales Executive            1230 non-null   uint8
 41  JobRole_Sales Representative       1230 non-null   uint8
 42  MaritalStatus_Married              1230 non-null   uint8
 43  MaritalStatus_Single               1230 non-null   uint8
 44  OverTime_Yes                       1230 non-null   uint8
 45  EducationField_Life Sciences       1230 non-null   uint8
 46  EducationField_Marketing           1230 non-null   uint8
 47  EducationField_Medical             1230 non-null   uint8
 48  EducationField_Other               1230 non-null   uint8
 49  EducationField_Technical Degree    1230 non-null   uint8
dtypes: float64(16), int64(13), uint8(21)
memory usage: 304.0 KB

In [15]:
# print(emp_train_labels_C)
emp_train_labels_C.shape
print(emp_features.shape)

(1230, 50)

In [16]:
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
# model = make_pipeline(SVC(gamma='auto'))
# model = GaussianNB()
# model = DecisionTreeClassifier(criterion="entropy",max_depth=4,random_state=42)
model = RandomForestClassifier(criterion="entropy",max_depth=4,random_state=42)
# model = KNeighborsClassifier(n_neighbors=3)
model.fit(emp_features, emp_train_labels_C)

<ipython-input-16-7066a0963a31>:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(emp_features, emp_train_labels_C)

RandomForestClassifier(criterion='entropy', max_depth=4, random_state=42)

In [17]:
predictions=model.predict(emp_features)
print(predictions)

[0. 0. 0. ... 0. 0. 0.]

In [18]:
predictions1=model1.predict(emp_features)
print(predictions1)

[18.05  5.78  0.91 ...  2.19  2.87 10.  ]

In [19]:
final_prediction_proba = model.predict_proba(emp_test)
print(final_prediction_proba)

[[0.81547205 0.18452795]
 [0.74939181 0.25060819]
 [0.90123256 0.09876744]
 [0.80132759 0.19867241]
 [0.84088144 0.15911856]
 [0.72903247 0.27096753]
 [0.74924929 0.25075071]
 [0.87457247 0.12542753]
 [0.92419765 0.07580235]
 [0.86346837 0.13653163]
 [0.80901627 0.19098373]
 [0.74232427 0.25767573]
 [0.83728646 0.16271354]
 [0.67357881 0.32642119]
 [0.94492849 0.05507151]
 [0.85602829 0.14397171]
 [0.7993636  0.2006364 ]
 [0.88293591 0.11706409]
 [0.88322322 0.11677678]
 [0.85116387 0.14883613]
 [0.92116546 0.07883454]
 [0.79410661 0.20589339]
 [0.56683057 0.43316943]
 [0.76477107 0.23522893]
 [0.8993866  0.1006134 ]
 [0.8243865  0.1756135 ]
 [0.86274482 0.13725518]
 [0.89642064 0.10357936]
 [0.8379888  0.1620112 ]
 [0.87694291 0.12305709]
 [0.71770549 0.28229451]
 [0.69143771 0.30856229]
 [0.73762639 0.26237361]
 [0.80963175 0.19036825]
 [0.91144611 0.08855389]
 [0.65368953 0.34631047]
 [0.8490797  0.1509203 ]
 [0.93210403 0.06789597]
 [0.86496707 0.13503293]
 [0.92056904 0.07943096]
 [0.92677933 0.07322067]
 [0.9065895  0.0934105 ]
 [0.81630262 0.18369738]
 [0.88740921 0.11259079]
 [0.92143027 0.07856973]
 [0.7045557  0.2954443 ]
 [0.83209119 0.16790881]
 [0.80651678 0.19348322]
 [0.66679153 0.33320847]
 [0.8630735  0.1369265 ]
 [0.89000675 0.10999325]
 [0.74612577 0.25387423]
 [0.88117941 0.11882059]
 [0.79775375 0.20224625]
 [0.93345845 0.06654155]
 [0.60188266 0.39811734]
 [0.75897589 0.24102411]
 [0.88439436 0.11560564]
 [0.80748144 0.19251856]
 [0.94505466 0.05494534]
 [0.91683723 0.08316277]
 [0.91849534 0.08150466]
 [0.8041962  0.1958038 ]
 [0.90129517 0.09870483]
 [0.90379586 0.09620414]
 [0.72541733 0.27458267]
 [0.87979096 0.12020904]
 [0.87815843 0.12184157]
 [0.91489856 0.08510144]
 [0.81721511 0.18278489]
 [0.89008485 0.10991515]
 [0.61604029 0.38395971]
 [0.89093783 0.10906217]
 [0.80801742 0.19198258]
 [0.88380449 0.11619551]
 [0.81454993 0.18545007]
 [0.72999588 0.27000412]
 [0.92835087 0.07164913]
 [0.82144198 0.17855802]
 [0.61078174 0.38921826]
 [0.87827624 0.12172376]
 [0.8114764  0.1885236 ]
 [0.67519903 0.32480097]
 [0.89061916 0.10938084]
 [0.88004977 0.11995023]
 [0.84002957 0.15997043]
 [0.89395215 0.10604785]
 [0.74978904 0.25021096]
 [0.92429013 0.07570987]
 [0.86565219 0.13434781]
 [0.93233854 0.06766146]
 [0.8319966  0.1680034 ]
 [0.874699   0.125301  ]
 [0.79393411 0.20606589]
 [0.93014434 0.06985566]
 [0.75267931 0.24732069]
 [0.8724262  0.1275738 ]
 [0.90478353 0.09521647]
 [0.67165351 0.32834649]
 [0.90747497 0.09252503]
 [0.8765866  0.1234134 ]
 [0.78612528 0.21387472]
 [0.90268558 0.09731442]
 [0.89638956 0.10361044]
 [0.88518222 0.11481778]
 [0.79965622 0.20034378]
 [0.88049343 0.11950657]
 [0.90420226 0.09579774]
 [0.75595    0.24405   ]
 [0.92601107 0.07398893]
 [0.90366501 0.09633499]
 [0.83240999 0.16759001]
 [0.88724934 0.11275066]
 [0.77339158 0.22660842]
 [0.89434242 0.10565758]
 [0.88993986 0.11006014]
 [0.9128002  0.0871998 ]
 [0.85511042 0.14488958]
 [0.79226875 0.20773125]
 [0.90470755 0.09529245]
 [0.86868281 0.13131719]
 [0.64549803 0.35450197]
 [0.90716888 0.09283112]
 [0.87506751 0.12493249]
 [0.90782048 0.09217952]
 [0.80222394 0.19777606]
 [0.85130923 0.14869077]
 [0.9205572  0.0794428 ]
 [0.81718742 0.18281258]
 [0.89887139 0.10112861]
 [0.7880312  0.2119688 ]
 [0.78130551 0.21869449]
 [0.86014483 0.13985517]
 [0.9045904  0.0954096 ]
 [0.82123468 0.17876532]
 [0.87455975 0.12544025]
 [0.81032656 0.18967344]
 [0.89623403 0.10376597]
 [0.89011297 0.10988703]
 [0.88157542 0.11842458]
 [0.91479029 0.08520971]
 [0.90012462 0.09987538]
 [0.64595316 0.35404684]
 [0.4790856  0.5209144 ]
 [0.92666451 0.07333549]
 [0.8907182  0.1092818 ]
 [0.86939339 0.13060661]
 [0.66919472 0.33080528]
 [0.90746941 0.09253059]
 [0.92948424 0.07051576]
 [0.92544341 0.07455659]
 [0.90631818 0.09368182]
 [0.90850999 0.09149001]
 [0.80921775 0.19078225]
 [0.8735602  0.1264398 ]
 [0.90289445 0.09710555]
 [0.78864552 0.21135448]
 [0.91127309 0.08872691]
 [0.88436563 0.11563437]
 [0.69344635 0.30655365]
 [0.88512271 0.11487729]
 [0.82033531 0.17966469]
 [0.91856757 0.08143243]
 [0.86945505 0.13054495]
 [0.90472379 0.09527621]
 [0.8965845  0.1034155 ]
 [0.89144718 0.10855282]
 [0.86160809 0.13839191]
 [0.63358463 0.36641537]
 [0.49825446 0.50174554]
 [0.82969707 0.17030293]
 [0.92698141 0.07301859]
 [0.8114046  0.1885954 ]
 [0.91092914 0.08907086]
 [0.90804941 0.09195059]
 [0.91486536 0.08513464]
 [0.91199078 0.08800922]
 [0.90425232 0.09574768]
 [0.81096058 0.18903942]
 [0.93891737 0.06108263]
 [0.88155759 0.11844241]
 [0.91532984 0.08467016]
 [0.66966537 0.33033463]
 [0.66585218 0.33414782]
 [0.84823416 0.15176584]
 [0.91008645 0.08991355]
 [0.57505415 0.42494585]
 [0.81380168 0.18619832]
 [0.74011583 0.25988417]
 [0.81795659 0.18204341]
 [0.81949395 0.18050605]
 [0.81068231 0.18931769]
 [0.86795927 0.13204073]
 [0.74920174 0.25079826]
 [0.91782569 0.08217431]
 [0.88858732 0.11141268]
 [0.70286391 0.29713609]
 [0.89788516 0.10211484]
 [0.92437004 0.07562996]
 [0.91395578 0.08604422]
 [0.85226362 0.14773638]
 [0.78790725 0.21209275]
 [0.88140535 0.11859465]
 [0.86624986 0.13375014]
 [0.904386   0.095614  ]
 [0.8308034  0.1691966 ]
 [0.78966743 0.21033257]
 [0.82979063 0.17020937]
 [0.86213927 0.13786073]
 [0.82336929 0.17663071]
 [0.87316447 0.12683553]
 [0.82869365 0.17130635]
 [0.86972017 0.13027983]
 [0.90098829 0.09901171]
 [0.870646   0.129354  ]
 [0.93039085 0.06960915]
 [0.91660713 0.08339287]
 [0.84346521 0.15653479]
 [0.85971516 0.14028484]
 [0.84957714 0.15042286]
 [0.88468929 0.11531071]
 [0.91204655 0.08795345]
 [0.84268859 0.15731141]
 [0.78679231 0.21320769]
 [0.90295525 0.09704475]
 [0.87820736 0.12179264]
 [0.88885311 0.11114689]
 [0.82438737 0.17561263]
 [0.84814355 0.15185645]
 [0.92326021 0.07673979]
 [0.80628386 0.19371614]
 [0.3812562  0.6187438 ]
 [0.76198773 0.23801227]
 [0.890776   0.109224  ]
 [0.87369985 0.12630015]
 [0.68610983 0.31389017]
 [0.89321567 0.10678433]
 [0.88465279 0.11534721]
 [0.85658235 0.14341765]
 [0.71352915 0.28647085]]

In [20]:
# final_prediction = model.predict_proba(emp_test)
# print(final_prediction)

In [21]:
final_prediction_test = model.predict_proba([emp_features[2]])
print(final_prediction_test)

[[0.85731213 0.14268787]]

In [22]:
final_prediction1 = model1.predict(emp_test)
print(final_prediction1)

[ 2.87  3.55  2.94  6.05  3.78  1.77  6.12  4.51 15.01  2.9   2.25  4.94
  2.44  0.79 14.87  4.72  2.38  3.23  3.33  4.78 12.45  8.43  1.13  4.03
  0.74  3.03  7.71  6.4   2.39  4.92  5.34  0.8   0.68  2.42 13.18  1.37
 12.96  4.74  2.96  6.54 13.61 13.09  8.35 31.9   2.94  0.94  3.39  1.1
  0.84  5.26  9.41  9.23  7.54  2.79  7.46  0.22 32.9  11.25  5.19 21.6
  9.95  9.97  9.27  4.16 19.31  0.9  11.02 10.08 10.92  2.49 16.39  0.92
 24.32  7.71  4.59  4.6   0.94 19.83  3.23  4.72  7.5   4.88  2.85 19.16
 17.27  1.93  9.3   3.09 21.56 17.25 16.51  7.78  4.67  2.15 10.1   0.83
  4.83 32.57  0.98 11.15  7.26 10.41 13.28  9.79  4.42  2.47 31.88  0.91
  5.35 13.68  7.9   4.75 10.14 11.84 11.98  7.76 13.86 10.1   3.21  2.75
  2.34  0.76 15.49 21.52  8.11  0.77  6.12  8.2   0.84  5.18  0.82  1.82
 11.   13.02  4.86 10.55 14.35  5.45 24.47  2.47  9.    9.49  1.59  1.14
 20.29 13.21  9.5   2.88  5.43 14.47  5.51  4.79 18.43 11.85 10.58  9.4
  2.93  9.37  5.04  3.1   5.92  0.67  8.68  3.52  5.79  0.66 21.45  4.64
  0.88  0.73  6.07 10.09  0.87  6.46 11.02  0.92  4.81 15.3   4.71 20.72
 14.5  11.55  1.29  4.45 17.62  7.7   0.89  0.88  4.58  2.6   5.23  5.41
  1.02 11.24  9.83  4.85  7.66  5.34 10.59  7.65  2.99 10.12  4.85  5.19
  7.29  0.92  3.09  5.31 15.43  5.44  6.17  7.5  11.05  3.07  4.93 11.96
 10.07  0.79  3.59  9.14  4.83 18.2  10.56  3.61  3.34 10.71 17.1   2.72
  2.95  4.9   9.87  0.25 10.09  5.09 11.52  0.69  4.69  0.9   3.1   2.27]

In [23]:
# Calculating Root Mean Squared Error
from sklearn.metrics import accuracy_score
print(accuracy_score(emp_train_labels_C,predictions))

0.8569105691056911

In [24]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, emp_features, emp_train_labels_C, cv=10)
print(scores.mean())

c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
c:\users\nishi.suraj-pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.8487804878048781

In [25]:
# Exporting to .csv file 
with open('Final_Predictions_without_round.csv', 'w', newline='') as file:
    fieldnames = ['ID','Attrition', 'YearsAtCompany']
    writer = csv.DictWriter(file, fieldnames=fieldnames)

    writer.writeheader()
    for i in range(len(final_prediction)):
        writer.writerow({'ID': i+1, 'Attrition': final_prediction[i][1],'YearsAtCompany':final_prediction1[i]})